* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: url(/09-curso-js-dom/01-topping-pizza/Imagenes/pizza-2.jpg) no-repeat center center/cover
}

#contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 80vh;
  max-width: 600px;
  background-color: whitesmoke;
  border: 4px solid orange
}

h1 {
  font-size: 3rem;
  width: 100%;
  margin: 20px 10px;
}

ul {
  width: 100%;
  height: 100%;
}

.topping {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 15px 0;
}

.fondo-marron {
  background-color: #aa5822;
}

.fondo-naranja {
  background-color: #ff7b0f ;
}

.texto-verde {
  color: rgb(165, 255, 165)
}